{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["oclif"],
  "parserOptions": {
      "project": ["./tsconfig.lint.json", "./packages/*/tsconfig.json"],
      "sourceType": "module"
  },
  "ignorePatterns": ["**/schema.ts", "packages/*/lib", "node_modules", "coverage"],
  "overrides": [
    {
      "files": [
        "**/__tests__/**.test.ts", "**/__mocks__/**.ts"
      ],
      "env": {
        "jest": true,
        "mocha": true
      },
      "globals": {
        "fail": "readonly"
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ],
  "rules": {
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-unused-vars": ["error", {
      "caughtErrors": "all",
      "caughtErrorsIgnorePattern": "^ignore",
      "argsIgnorePattern": "^_"
    }],
    "@typescript-eslint/no-explicit-any": "off",
    "no-param-reassign": "off",
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "import/prefer-default-export": "off",
    // workaround for https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/imports.js#L139
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "eslint-import-resolver-lerna": {
        "packages": "./packages"
      },
      "typescript": {
        "directory": "./packages/*/tsconfig.json"
      }
    }
  }
}
